.footer {
    background-color: #ccc;
    border-top: 1px solid #b9b9b9;
    box-shadow: .5px .5px .5px .5px #b9b9b9;
    color: #5e5e5e;
}

.footer h2 {
    font-size: 20px;
}

.footer span svg {
    transform: translateY(28%);
}

@media screen and (max-width: 480px) {
    .footer h2 {
        font-size: 17px;
    }
}